# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
GLFW
glm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

#VS Specific files
*.sln
*.user
*.filters
*.vcxproj
Makefile

#Project Binaries and IDE generated folders/files
.vs/
.vscode/
bin/ 
bin-int/ 
